﻿@{
    ViewData["Title"] = "Wrapped Headers";
}

@section ContentHeader {
    <h1>@ViewData["Title"]<small></small></h1>
}

<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p>
        Sometimes you might want to wrap column headers in grid. For this you just need to set a few CSS rules.
    </p>
    <p>
        site.basicsamples.less for class .s-WrappedHeadersGrid.
        See rules in @Html.AppSourceFile(@"..\..\..\..\Content\site\site.basicsamples.less") for how.
    </p>

    <p style="text-align: right;"><b>Source Files:</b> 
        @Html.AppSourceFile("Index.cshtml"), 
        @Html.AppSourceFile("WrappedHeadersGrid.ts")
        @Html.AppSourceFile(@"..\..\..\..\Content\site\site.basicsamples.less")
    </p>
</div>

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Shekhao.BasicSamples.WrappedHeadersGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>